<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Parallax_v2</title>
    <link rel="stylesheet" href="stylesheets/reset.css" />
    <link rel="stylesheet" href="stylesheets/parallax_v2.css" />
  </head>
  <body>
    <header class="header">
      <div class="global-width">
        <h1 class="page-title">코로나19 시대, 제주 사는 개발자의 하루</h1>
        <p>
          이 페이지는 BBC 비주얼저널리즘 팀에서 제작한 <a href="https://www.bbc.com/korean/resources/idt-48d3c9a7-4063-4289-9726-611b5ea9d7b5" target="_blank">'재택근무의 일상화'... 코로나19가 바꿀 사무실의 미래</a> 페이지를 비슷하게 구현해 본 개발 예제입니다. 시각적 기능만 비슷하게 만들어 본 것이므로, 개발 방식은 전혀 다를 수도 있습니다.<br>아래의 내용은 제주 바닷가에 사는 개발자인 저의 실제 일상이기도 하지만, 강의영상 예제로 만든 페이지이므로 내용에 큰 의미를 두고 보실 필요는 없습니다 ㅎㅎ<br>밑으로 스크롤 해봅시다.
        </p>
      </div>
    </header>
    <section class="scroll-content">
      <div class="scroll-graphic">
        <div class="scroll-graphic__item">
          <img class="scene-img" src="images/parallax_v2/disney_1.jpg" alt="">
        </div>
        <div class="scroll-graphic__item">
          <img class="scene-img" src="images/parallax_v2/disney_2.jpg" alt="">
        </div>
        <div class="scroll-graphic__item">
          <img class="scene-img" src="images/parallax_v2/disney_3.jpg" alt="">
        </div>
        <div class="scroll-graphic__item">
          <img class="scene-img" src="images/parallax_v2/disney_4.jpg" alt="">
        </div>
        <div class="scroll-graphic__item">
          <img class="scene-img" src="images/parallax_v2/disney_5.jpg" alt="">
        </div>
        <div class="scroll-graphic__item">
          <img class="scene-img" src="images/parallax_v2/disney_6.jpg" alt="">
        </div>
        <div class="scroll-graphic__item">
          <img class="scene-img" src="images/parallax_v2/disney_7.jpg" alt="">
        </div>
        <div class="scroll-graphic__item">
          <img class="scene-img" src="images/parallax_v2/disney_8.jpg" alt="">
        </div>
        <div class="scroll-graphic__item">
          <img class="scene-img" src="images/parallax_v2/disney_9.jpg" alt="">
        </div>
        <div class="scroll-graphic__item">
          <img class="scene-img" src="images/parallax_v2/disney_10.jpg" alt="">
        </div>
      </div>
      <div class="scroll-text global-width">
        <div class="scroll-text__item">1</div>
        <div class="scroll-text__item">2</div>
        <div class="scroll-text__item">3</div>
        <div class="scroll-text__item">4</div>
        <div class="scroll-text__item">5</div>
        <div class="scroll-text__item">6</div>
        <div class="scroll-text__item">7</div>
        <div class="scroll-text__item">8</div>
        <div class="scroll-text__item">9</div>
        <div class="scroll-text__item">10</div>
      </div>
    </section>
    <section class="normal-content global-width">
      <h2>Header Text 2</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui impedit numquam atque quidem quos facere obcaecati deleniti labore culpa esse nostrum dicta earum rem ducimus, voluptates eligendi voluptate exercitationem dolorem!
      </p>
    </section>
    <footer>
      Footer
    </footer>
    <script src="javascripts/parallax_v2.js"></script>
  </body>
</html>
